.f-wrapper{
    padding:1.5rem;
}
.f-container{
    display:flex;
    align-items:flex-start;
    justify-content:space-around;
    /* gap:3.5rem; */
}
.contact h4{
    font-size:2.5rem;
    font-weight: 700;
}
.contact span{
    font-size:1rem;
    font-weight:500;
}
.Communtities h4{
    font-size:2.5rem;
    font-weight:700;
}
.Communities a{
    text-decoration: none;
    color:black;
}
.Communities span{
    font-size:1rem;
    font-weight:500;
}
.copyright{
    font-size:20px;
    text-align:center;
    margin-top:10px;
}