*{
  padding:0;
  margin:0;
  box-sizing:border-box;
 font-family: "Poppins", sans-serif;
}
html, body{
  height:100%;
  width:100%;
}

.flexCenter{
  display:flex;
  justify-content:center;
  align-items:center;
  /* gap:1.5rem; */
}
.flexColCenter{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
.primaryText{
  font-size:57px;
  background: linear-gradient(to right, purple, orange);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.secondaryText{
  font-size:39px;
  font-weight:500;
  color:black;
}
.paragraph{
  font-size:20px;
  color:black;
  font-weight: 300;
}
